.overlay {
	z-index: 1;
	margin-top: -450px;
}

.gameboard {
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 404px;
	height: 604px;
	overflow: hidden;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ff6600;
	border:1px solid #dbdbdb;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	font-weight: 300;
	text-align: center;
	padding:10px 30px;
	text-decoration:none;
	

	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 40%;
}

.button:hover {
	background-color:#ff5500;
}

.button:active {
	position:relative;
	top:1px;
}

.circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 4px;
	/* width and height can be anything, as long as they're equal */
}

.clearbutton {
	margin-top: -45px;
	margin-right: 20px;
	float: right;
	position: relative;
}

.OpenSansText {
	font-family: 'Open Sans', sans-serif;
}

.ExoText {
	font-family: 'Exo', sans-serif;
}

.colorbutton {
	border:2px solid #000000;
	padding:0px 10px;
	margin-right: 4px;
}

.colorbutton:hover {
	border-color: #444444;
}

.colorbuttonselected {
	border:4px solid #000000;
}

.logo {
	width:50%;
	
}
